<div class="container">
    <div class="header">
        <div class="location">
            <p>Plovdiv, Bulgaria</p>
            <p>Monday, 29 December</p>
        </div>
        <div class="menu">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
            <div class="menu-line"></div>
        </div>
    </div>
    <div class="weather-info">
        <img class="current-weather-image" src="assets/icon/partly-cloudy.svg" alt="weather-image">
        <div class="weather-temperature">
            <p class="temperature">20°</p>
            <p class="weather-description">Partly Cloudy</p>
        </div>
    </div>
    <div class="temperature-amplitude">
        <div class="temperature-amplitude-value">high: 26°C <span class="arrow-up"></span></div>
        <div class="temperature-amplitude-value">low: 18°C <span class="arrow-down"></span></div>
    </div>
    <div class="weather-details">
        <div class="weather-details-item">
            <p>Humidity</p>
            <p>40%</p>
        </div>
        <div class="divider"></div>
        <div class="weather-details-item">
            <p>Wind</p>
            <p>19km/h</p>
        </div>
        <div class="divider"></div>
        <div class="weather-details-item">
            <p>Rain</p>
            <p>24%</p>
        </div>
    </div>
</div>