.container {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow-x: auto;
}

.hour-forecast-card {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  background: #568fd8;
  color: #fff;
}

img {
  width: 33px;
  height: auto;
}

.current-hour {
    background: #8db8f3;
    font-size: 14px;
}

.current-hour img {
    width: 37px;
    max-width: 37px;
}
