<div class="container">
    <div class="hour-forecast-card">
        <div>15:00</div>
        <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
        <div>20°</div>
    </div>
    <div class="hour-forecast-card current-hour">
        <div>Now</div>
        <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
        <div>20°</div>
    </div>
    <div class="hour-forecast-card">
        <div>16:00</div>
        <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
        <div>20°</div>
    </div>
    <div class="hour-forecast-card">
        <div>17:00</div>
        <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
        <div>20°</div>
    </div>
    <div class="hour-forecast-card">
        <div>18:00</div>
        <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
        <div>20°</div>
    </div>
    <div class="hour-forecast-card">
        <div>19:00</div>
        <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
        <div>20°</div>
    </div>
    <div class="hour-forecast-card">
        <div>20:00</div>
        <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
        <div>20°</div>
    </div>
    <div class="hour-forecast-card">
        <div>21:00</div>
        <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
        <div>20°</div>
    </div>
    <div class="hour-forecast-card">
        <div>22:00</div>
        <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
        <div>20°</div>
    </div>
</div>