.swap-container {
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
  gap: 10px;
  transition: top 0.3s ease;
  touch-action: none;
  width: 100%;
  z-index: 1000;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease, bottom 0.3s ease;
}

.divider {
  width: 40px;
  height: 3px;
  background-color: #bbb;
}

.header p {
  font-weight: bold;
  font-size: 18px;
}

.days-forecast-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  touch-action: none;
}

.day-forecast-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f8fa;
  border-radius: 18px;
  padding: 10px;
}

.day-forecast-card p {
  font-size: 14px;
  color: #151515;
}

.day-forecast-card img {
  width: 37px;
  height: auto;
}
