<div class="swap-container" [class.show-forecast]="showForecast" #forecastContainer>
    <div class="header">
        <div class="divider"></div>
        <p>7-Day Forecast</p>
    </div>
    <div class="days-forecast-container">
        @for(day of weatherService.weather()!.daily.time; track $index) {
        <div class="day-forecast-card">
            <p>{{utilityService.getDayString(day) }}</p>
            <img [src]="utilityService.getWeatherIcon(weatherService.weather()!.daily.weathercode[$index], 1)" alt="weather-image">
            <p>min: {{weatherService.weather()!.daily.temperature_2m_min[$index] }} / max:
                {{weatherService.weather()!.daily.temperature_2m_max[$index] }}°C</p>
            <p>{{ utilityService.getWeatherDescription(weatherService.weather()!.daily.weathercode[$index]) }}</p>
        </div>
        }
    </div>
</div>