<div class="swap-container" [class.show-forecast]="showForecast" #forecastContainer>
    <div class="header">
        <div class="divider"></div>
        <p>7-Day Forecast</p>
    </div>
    <div class="days-forecast-container">
        <div class="day-forecast-card">
            <p>Mon</p>
            <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
            <p>20°C</p>
            <p>Partly Cloudy</p>
        </div>
        <div class="day-forecast-card">
            <p>Tue</p>
            <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
            <p>20°C</p>
            <p>Partly Cloudy</p>
        </div>
        <div class="day-forecast-card">
            <p>Wed</p>
            <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
            <p>20°C</p>
            <p>Partly Cloudy</p>
        </div>
        <div class="day-forecast-card">
            <p>Thu</p>
            <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
            <p>20°C</p>
            <p>Partly Cloudy</p>
        </div>
        <div class="day-forecast-card">
            <p>Fri</p>
            <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
            <p>20°C</p>
            <p>Partly Cloudy</p>
        </div>
        <div class="day-forecast-card">
            <p>Sat</p>
            <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
            <p>20°C</p>
            <p>Partly Cloudy</p>
        </div>
        <div class="day-forecast-card">
            <p>Sun</p>
            <img src="assets/icon/partly-cloudy.svg" alt="weather-image">
            <p>20°C</p>
            <p>Partly Cloudy</p>
        </div>
    </div>
</div>