.container {
  background-color: #75a9e0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.seven-days-forecast-container {
  width: 100%;
  flex: 1;
  position: relative;
}
